body{
	font-family: Arial, Helvetica, sans-serif;
}
nav li a:visited{
	color:rgb(138,111,111);
}
nav li a{
	text-decoration: none;
}

nav li{
	background-color: rgb(252,184,184);
	display: block;
	width:200px;
	border-width:1px;
	border-color: solid white;  
}
nav li a:hover:active{
	background-color:red;
	color:white;
}

img{
	float:left;
	width:10%;
	height:10%;
}

section p{
	clear:right;
}

.tagelement{
	text-align: center;
	float: left;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	background-color: lightgrey;
	box-sizing: border-box;
	width: 49%;
	height: 150px;
	margin: 5px;
	padding: 35px;
}
